*.lps
*.compiled
*.[oa]
*.ppu
*.rst
*.cgi
*.exe
*.log
*.bak*
fp.ini
fp.cfg
fp.dsk
*.dll
*.so
*.dylib
*.lrs
*.res
*.dbg
*.o
*.or
*.a
*.rsj
*.lrt
backup\
*.bak
lib\
*.app\
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN\
*.cab
*.msi
*.msm
*.msp
*.lnk
*.o
*.ppu
*.exe
